@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 0;
    background-color: #1a1a1c;
    font-family: "Montserrat";
}

.nav {
    background-color: #2f2c2b;
    width: 400px;
    height: 100vh;
    border-radius: 12px;
    overflow: hidden;
    margin: 10px;
}

.userInformation {
    color: white;
    display: flex;
    align-items: center;
    background-color: #2f2c2b;
    margin: 5px;
}

.userImage {
    height: 70px;
    padding: 10px;
}

.userName, .userTag {
    color: white;
    line-height: 5px;
}

.orderView {
    color: white;
    background-color: #2f2c2b;
}

.projectList {
    color: white;
}

li {
    list-style: none;
    padding-left: 10px;
}

.active-list {
    font-weight: bolder;
}

.projectContainer {
    background-color: #2f2c2b;
}
.projectHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10%;
}

input {
    border: none;
    border-radius: 6px;
}

.projectHeader h2 {
    color: white;
    padding-left: 25px;
}

.projectHeader button {
    border: none;
    border-radius: 6px;
    background-color: #424245;
    color: white;
    height: 1.5rem;
    width: 2rem;
}

li:hover {
    background-color: #424245;
    border-radius: 8px;
    margin-right: 10%;
}

hr {
    width: 80%;
    height: 1px;
    color: #d6d8db;
    background-color: #d6d8db;
    border: none;
}

/* Project Container CSS below */

.openProjectContainer {
    width: 60vw;
    height: 60vh;
    margin: 10%;
    /* border: 1px solid red; */
}

.tableTaskView {
    background-color: #2f2c2b;
    border-radius: 12px;
    width: 60vw;
    height: 60vh;
    margin-top: 20px;
}

.openProjectContainer h1 {
    color: white;
    margin-left: 10px;
}

.openProjectContainer button {
    margin-left: 10px;
    border: none;
    border-radius: 8px;
    background-color: white;
    color: black;
    height: 2.5rem;
    width: 6rem;
}

.delete-list {
    display: flex;
    justify-content: flex-end;
}

.delete-list button {
    background-color: #d6d8db;
    color: #1a1a1c;
    height: 1.2rem;
}

/* Table CSS */
table {
    width: 55vw;
    text-align: center;
}

.tablePosition{
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

tr {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 1fr;
    justify-items: start;
    align-items: center;
    color: white;
    height: 40px;
}

.tableDataRow:hover {
    background-color: #1a1a1c;
    border-radius: 8px;
}

.tableHeaderRow {
    background-color: #424245;
    color: rgb(196, 191, 191);
    border-radius: 8px;
    
}

#high {
    border: 1px solid #1ac964;
    border-radius: 12px;
    color: #1ac964;
    background-color: #1f3c2b;
    height: 1.2rem;
    width: 3rem;
    font-family: "Poppins-thin";
}

#med {
    border: 1px solid #f5a523;
    border-radius: 12px;
    color: #f5a523;
    background-color: #453421;
    height: 1.2rem;
    width: 3rem;
    font-family: "Poppins-thin";
}

#low {
    border: 1px solid #f54281;
    border-radius: 12px;
    color: #f54281;
    background-color: #451c2a;
    height: 1.2rem;
    width: 3rem;
    font-family: "Montserrat-thin";
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 1rem;
    padding: 0.1rem;
    border: 0.1rem solid #3f3f46;
    border-radius: 0.5rem;
  }

  input[type="checkbox"]::before {
    content: "";
    width: 0.6rem;
    height: 0.6rem;
    transform: scale(0);
    background-color: #3f3f46;
  }

  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }

  input[type="checkbox"]:hover {
    color: black;
  }
  .icons {
    height: 15px;
    padding-right: 5px;
  }